<div class="book-list">
  <div class="top-panel">
    <button class="btn btn-success btn-sm mx-3" (click)="navigateToAddBook()">
      Add a Book
    </button>
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search by title"
      aria-label="Search by title"
      [(ngModel)]="searchTitle"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="searchTitleChange()"
    />
  </div>
  <div class="card-list">
    <div *ngFor="let book of books">
      <app-book-card
        [book]="book"
        (confirmDelete)="handleBookDeletion($event)"
      ></app-book-card>
    </div>
  </div>
</div>
