<div #flipContainer class="book">
  <!-- Cover Page -->
  <div class="page cover">
    <img [src]="getBookCover()" alt="Cover" loading="lazy" />
  </div>

  <!-- Inside Pages -->
  <div class="page">
    <h2>Title :</h2>
    <span id="book-title">{{ book.title }}</span>
    <hr />
    <h3>Published :</h3>
    <span
      >Published: {{ book.published_date | date }} by {{ book.author }}</span
    >
  </div>

  <div class="page">
    <h2>Personnal note :</h2>
    <p>{{ getBookNote() }}</p>
  </div>
</div>

<!-- Navigation Buttons -->
<div class="book-actions">
  <button (click)="prevPage()" class="btn btn-primary">Previous</button>
  <button (click)="nextPage()" class="btn btn-primary">Next</button>
</div>
