<div class="book-card">
  <img
    [src]="getBookCover(book)"
    class="card-img-top"
    alt="cover of the book"
    [loading]="GetBookCoverLoading(book)"
    (click)="viewBook()"
  />
  <div class="book-title" title="{{ book.title }}">
    <h5>{{ book.title }}</h5>
  </div>
  <div class="rating-book">
    <app-rating-widget
      (ratingValue)="rateThisBook($event)"
      [initialValue]="book.rating"
    ></app-rating-widget>
  </div>
  <div class="book-actions">
    <button
      class="btn btn-outline-info"
      (click)="viewBook()"
      title="Show more informations about the book"
    >
      <i class="fa-solid fa-eye"></i>
    </button>
    <app-for-later-widget
      (toSave)="saveForLater($event)"
      [initialValue]="book.saved_for_later"
    ></app-for-later-widget>
    <button
      class="btn btn-outline-info"
      (click)="editBook(book.id)"
      title="Edit book informations"
    >
      <i class="fa-solid fa-pen"></i>
    </button>
    <button
      class="btn btn-outline-danger"
      (click)="deleteBook(book.id)"
      title="Delete this book"
    >
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
</div>
