@use '../../../mixins' as *;

.top-panel {
  display: flex;
  margin-bottom: 24px;

  button {
    border-radius: 20px;
  }

  @include for-screen-size(mobile) {
    width: 100%;
  }

  @include for-screen-size(tablet) {
    width: 70%;
    margin-left: 15%;
  }

  @include for-screen-size(desktop) {
    width: 50%;
    margin-left: 25%;
  }
}

.card-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  div {
    box-sizing: border-box;
    @include for-screen-size(mobile) {
      width: 100%;
    }

    @include for-screen-size(tablet) {
      width: 31%;
      margin-left: 12px;
    }

    @include for-screen-size(desktop) {
      width: 22%;
      margin-left: 24px;
    }
  }
}
