@use '../../../mixins' as *;

.app-alert {
  @include for-screen-size(mobile) {
    width: 100%;
  }

  @include for-screen-size(tablet) {
    width: 100%;
  }

  @include for-screen-size(desktop) {
    width: 50%;
    margin-left: 25%;
  }
}
